<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694788623078-stvvj9m50aa7t64qs44l3bg0k2o1tvn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694788623078-stvvj9m50aa7t64qs44l3bg0k2o1tvn8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>694788623078-1h7dlc38ni1dh0f620tkl1ibs6squ58u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ40QQ3hWY8doE798yWq94WiXAP3PLuVE</string>
	<key>GCM_SENDER_ID</key>
	<string>694788623078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theBudgetIq</string>
	<key>PROJECT_ID</key>
	<string>the-budget-iq</string>
	<key>STORAGE_BUCKET</key>
	<string>the-budget-iq.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694788623078:ios:4ca181ae1c0003f1e38927</string>
</dict>
</plist>